<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <section>
            <h1>Webshop</h1>
        </section>
        <nav>
            <a href="/" class="<%= 'Home'===pagina %>">Home</a>
            <a href="/products/all-products" class="<%= 'Products'===pagina %>">Products</a>
            <a href="/blog" class="<%= 'Blog'===pagina %>">Blog</a>
            <a href="/account" class="<%= 'Account'===pagina %>">Account</a>
            <a href="/cart" class="<%= 'Cart'===pagina %>">Cart</a>
        </nav>
    </header>
    <main>